<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS
    ================================================== -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <p class="s-header__tagline">
                <div>
                <strong>Menu:</strong>
                <ul>
                    {% if user.is_authenticated %}
                        {% url 'account_email' as email_url_ %}
                        {% if email_url_ %}
                            <li>
                                <a href="{{ email_url_ }}">Change Email</a>
                            </li>
                        {% endif %}
                        {% url 'account_change_password' as change_password_url_ %}
                        {% if change_password_url_ %}
                            <li>
                                <a href="{{ change_password_url_ }}">Change Password</a>
                            </li>
                        {% endif %}
                        {% url 'socialaccount_connections' as connections_url_ %}
                        {% if connections_url_ %}
                            <li>
                                <a href="{{ connections_url_ }}">Account Connections</a>
                            </li>
                        {% endif %}
                        {% url 'mfa_index' as mfa_url_ %}
                        {% if mfa_url_ %}
                            <li>
                                <a href="{{ mfa_url_ }}">Two-Factor Authentication</a>
                            </li>
                        {% endif %}
                        {% url 'usersessions_list' as usersessions_list_url_ %}
                        {% if usersessions_list_url_ %}
                            <li>
                                <a href="{{ usersessions_list_url_ }}">Sessions</a>
                            </li>
                        {% endif %}
                        {% url 'account_logout' as logout_url_ %}
                        {% if logout_url_ %}
                            <li>
                                <a href="{{ logout_url_ }}">Sign Out</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% url 'account_login' as login_url_ %}
                        {% if login_url_ %}
                            <li>
                                <a href="{{ login_url_ }}">Sign In</a>
                            </li>
                        {% endif %}
                        {% url 'account_signup' as signup_url_ %}
                        {% if signup_url_ %}
                            <li>
                                <a href="{{ signup_url_ }}">Sign Up</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                </div>
            </div>

        </div> <!-- end row -->

    </header> <!-- Header End -->

<body id="top" class="ss-single">

    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">

                <article class="entry">

                    <div class="entry__content">
                        <p class="lead">
                            {% block content %}
                            {% endblock content %}
                        </p>
                    </div> <!-- entry__content -->

                </article> <!-- end entry -->

            </div> <!-- end main -->

            </div> <!-- end sidebar -->

        </div> <!-- end row -->

    </div> <!-- end content-wrap -->


    <!-- Footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row s-footer__bottom">

            <div class="ss-copyright">
                <span>© Copyright Keep It Simple 2019</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>

        </div> <!-- end footer__bottom -->

    </footer> <!-- end Footer-->

</body>

</html>