<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advertisement {{ ad.pk }}</title>
</head>
<body>
    <!-- Блок событийных (контекстных) уведомлений -->
    {% if messages %}
        <div>
            <strong>{% trans "Messages:" %}</strong>
            <ul>
                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Активный пользователь -->
    <h3>Активный пользователь: {{ user }}</h3>

    <!-- Содержание объявления -->
    <h2>Автор объявления: {{ ad.user }}</h2>
    <h2>Дата объявления: {{ ad.update_date }}</h2>
    Содержание объявления: {{ ad.content|safe }}

    <!-- Список откликов -->
    {% for reply in replies %}
        {{ reply.user }}
        {{ reply.update_date }}
        {{ reply.content }}
    {% endfor %}

    <!-- Создание отклика -->
    {% if user.is_authenticated and user.pk != ad.user.pk %}
        <form method="POST">
            {% csrf_token %}
                <div><textarea name="content" rows="3" placeholder="Оставьте отклик" required></textarea></div>
                <button type="submit">Оставить отклик</button>
        </form>
    {% endif %}


</body>
</html>