<!DOCTYPE html>
{% load custom_tags %}
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Page - Keep It Simple</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script defer src="js/fontawesome/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="index.html" title="">Keep It Simple.</a>
                </h1>
                <p class="s-header__tagline">Put your awesome tagline here.</p>
            </div>

        </div> <!-- end row -->

       <nav class="s-header__nav-wrap">

           <div class="row">

                <ul class="s-header__nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="has-children"><a href="#0">Dropdown</a>
                        <ul>
                            <li><a href="#0">Submenu 01</a></li>
                            <li><a href="#0">Submenu 02</a></li>
                            <li><a href="#0">Submenu 03</a></li>
                        </ul>
                    </li>
                    <li><a href="demo.html">Demo</a></li>	
                    <li><a href="archives.html">Archives</a></li>
                    <li class="has-children"><a href="#0">Blog</a>
                        <ul>
                            <li><a href="blog.html">Blog Entries</a></li>
                            <li><a href="single.html">Single Blog</a></li>
                        </ul>
                    </li>
                    <li class="current"><a href="page.html">Page</a></li>
                </ul> <!-- end #nav -->

           </div> 

        </nav> <!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>

    </header> <!-- Header End -->



    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">

                <section class="page-content">

                    {% if ads %}
                        {% for ad in ads %}

                            <header class="entry__header">

                                <h2 class="entry__title h1">
                                    <a title="" href="{% url 'ad-detail' ad.pk %}">{{ ad.title }}</a>
                                </h2>

                                <div class="entry__meta">
                                    <ul>
                                        <li>{{ ad.creation_date }}</li>
                                        <li><a title="" rel="category tag">{{ ad.category }}</a></li>
                                        <li>{{ ad.user }}</li>
                                    </ul>
                                </div>
                            </header>

                            <p>
                                {{ ad.content|safe }}
                            </p>
                        {% endfor %}
                    {% else %}
                        <h2>No one has left any ads yet, be the first.</h2>
                    {% endif %}

                    {% if page_obj.has_previous %}
                        <a href="?{% url_replace page=1 %}">1</a>
                        {% if page_obj.previous_page_number != 1 %}
                            ...
                            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                        {% endif %}
                    {% endif %}

                    {{ page_obj.number }}

                    {% if page_obj.has_next %}
                        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                        {% if paginator.num_pages != page_obj.next_page_number %}
                        ...
                            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                    {% endif %}

                </section> <!-- end page -->

           </div> <!-- end main -->

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->


    <!-- Footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row s-footer__bottom">

            <div class="ss-copyright">
                <span>© Copyright Keep It Simple 2019</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>

        </div> <!-- end footer__bottom -->

    </footer> <!-- end Footer-->

</body>

</html>