<!DOCTYPE html>
{% load custom_tags %}
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>All Advertisements</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body id="top">

    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="index.html" title="">
                        <!-- Блок событийных (контекстных) уведомлений -->
                        {% if messages %}
                            <div>
                                <strong>{{ "Messages:" }}</strong>
                                <ul>
                                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </a>
                </h1>
            </div>

        </div> <!-- end row -->

       <nav class="s-header__nav-wrap">

           <div class="row">

                <ul class="s-header__nav">
                    <li><a>{{ user }}</a>
                        <ul>
                            <li><a href="/account/logout/">LogOut</a></li>
                            <li><a href="/account/signup/">SignUp</a></li>
                            <li><a href="/account/login/">LogIn</a></li>
                        </ul>
                    </li>
                    <li><a href="#0">Ad</a></li>
                    <li class="current"><a href="{% url 'ad-list' %}">All Ad</a></li>
                    <li><a href="{% url 'ad-create' %}">Ad Create</a></li>
                    <li><a href="{% url 'reply-ad-user' %}">Reply for you </a></li>
                </ul> <!-- end #nav -->

           </div> 

        </nav> <!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>

    </header> <!-- Header End -->



    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">

                <section class="page-content">

                    {% if ads %}
                        {% for ad in ads %}

                            <header class="entry__header">

                                <h2 class="entry__title h1">
                                    <a title="" href="{% url 'ad-detail' ad.pk %}">{{ ad.title }}</a>
                                </h2>

                                <div class="entry__meta">
                                    <ul>
                                        <li>{{ ad.creation_date }}</li>
                                        <li><a title="" rel="category tag">{{ ad.category }}</a></li>
                                        <li>{{ ad.user }}</li>
                                    </ul>
                                </div>
                            </header>

                            <p>
                                {{ ad.content|safe }}
                            </p>
                        {% endfor %}
                    {% else %}
                        <h2>No one has left any ads yet, be the first.</h2>
                    {% endif %}

                    <nav class="pgn">
                    {% if page_obj.has_previous %}
                        <a class="pgn__num" href="?{% url_replace page=1 %}">1</a>
                        {% if page_obj.previous_page_number != 1 %}
                            <span class="pgn__num dots">…</span>
                            <a class="pgn__num" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                        {% endif %}
                    {% endif %}

                    <span class="pgn__num current">{{ page_obj.number }}</span>

                    {% if page_obj.has_next %}
                        <a class="pgn__num" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                        {% if paginator.num_pages != page_obj.next_page_number %}
                        ...
                            <a class="pgn__num" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                    {% endif %}
                    </nav>
                </section> <!-- end page -->

           </div> <!-- end main -->

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->


    <!-- Footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row s-footer__bottom">

            <div class="ss-copyright">
                <span>© Copyright Keep It Simple 2019</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>

        </div> <!-- end footer__bottom -->

    </footer> <!-- end Footer-->

</body>

</html>