<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Reply For You Advertisement</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS
    ================================================== -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body id="top" class="ss-single">

    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="index.html" title="">
                        <!-- Блок событийных (контекстных) уведомлений -->
                        {% if messages %}
                            <div>
                                <strong>{{ "Messages:" }}</strong>
                                <ul>
                                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </a>
                </h1>
            </div>

        </div> <!-- end row -->

       <nav class="s-header__nav-wrap">

           <div class="row">

                <ul class="s-header__nav">
                    <li><a>{{ user }}</a>
                        <ul>
                            <li><a href="/account/logout/">LogOut</a></li>
                            <li><a href="/account/signup/">SignUp</a></li>
                            <li><a href="/account/login/">LogIn</a></li>
                        </ul>
                    </li>
                    <li><a href="#0">Ad</a></li>
                    <li><a href="{% url 'ad-list' %}">All Ad</a></li>
                    <li><a href="{% url 'ad-create' %}">Ad Create</a></li>
                    <li class="current"><a href="{% url 'reply-ad-user' %}">Reply for you </a></li>
                </ul> <!-- end #nav -->

           </div>

        </nav> <!-- end #nav-wrap -->

    </header> <!-- Header End -->


    <form action="" method="get">
        {{ filterset.form }}
        <input type="submit" value="Filter">
    </form>
    <!-- Content
    ================================================== -->
        <div class="s-content">

            <div class="row">

                <div id="main" class="s-content__main large-8 column">

                    <div class="comments-wrap">

                        <div id="comments">

                            <h3>Reply for you advertisement</h3>

                            <!-- START replylist -->
                            {% for reply in replies %}
                                <ol class="commentlist">

                                    <li class="depth-1 comment">

                                        <div class="comment__content">

                                            <div class="comment__info">
                                                <h3 style="color: green;">Ad: {{ reply.advertisement }}</h3>
                                                <div class="comment__author">{{ reply.user }}</div>

                                                <div class="comment__meta">
                                                    <div class="comment__time">{{ reply.update_date }}</div>
                                                    <div class="comment__reply">

                                                            {% if reply.accept %}
                                                                <a class="comment-reply-link" style="color: green; font-weight: bold;">Accept</a>
                                                            {% else %}
                                                                <button><a class="comment-reply-link" href="{% url 'accept-reply' pk=reply.pk %}">Confirm</a></button>
                                                            {% endif %}

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="comment__text">
                                                <p>{{ reply.content }}</p>
                                            </div>

                                        </div>

                                    </li> <!-- end comment level 1 -->

                                </ol>
                            {% endfor %}
                            <!-- END commentlist -->

                        </div> <!-- end comments -->

                    </div> <!-- end comments-wrap -->

                </div> <!-- end main -->

            </div> <!-- end row -->

        </div> <!-- end content-wrap -->

    <!-- Footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row s-footer__bottom">

            <div class="ss-copyright">
                <span>© Copyright Keep It Simple 2019</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>

        </div> <!-- end footer__bottom -->

    </footer> <!-- end Footer-->

</body>

</html>